In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('hate-speech.csv')

In [ ]:
df.head()

   Unnamed: 0  class                                              tweet
0           0      0  !!! RT @mayasolovely: As a woman you shouldn't...
1           1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2           2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3           3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4           4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [ ]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

   class                                              tweet
0      0  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from mlxtend.plotting import plot_confusion_matrix

In [ ]:
def preprocess_text(sen):
    # lower the character
    sentence = sen.lower()
    
    # Remove punctuations and numbers
    sentence = re.sub('[^a-zA-Z]', ' ', sen)

    # Single character removal
    sentence = re.sub(r"\s+[a-zA-Z]\s+", ' ', sentence)

    # Removing multiple spaces
    sentence = re.sub(r'\s+', ' ', sentence)
    
    stops = stopwords.words('english')
    
    for word in sentence.split():
        if word in stops:
            sentence = sentence.replace(word, '')

    sentence = re.sub(r"http\S+", "", sentence)
    
    return sentence

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x : preprocess_text(x))

In [ ]:
df.head()

   class                                              tweet
0      0   RT mayolovely As woman   complain  cleaning  ...
1      1   RT mleew boy dats cold tyga dwn bad  cuff dat...
2      1   RT UrKindOfBr Dawg RT sbaby life You ever fuc...
3      1         RT G Anderson viva based  look like tranny
4      1   RT ShenikaRts The sh  hear   might  true   mi...

In [ ]:
import tensorflow as tf
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [ ]:
token = Tokenizer(28164)
token.fit_on_texts(df['tweet'])
text = token.texts_to_sequences(df['tweet'])
text = pad_sequences(text,maxlen=100)

In [ ]:
text

array([[   0,    0,    0, ...,   93,   87,  844],
       [   0,    0,    0, ...,    9,  273,  467],
       [   0,    0,    0, ...,   19, 1082,   16],
       ...,
       [   0,    0,    0, ...,  131,  126,  305],
       [   0,    0,    0, ...,    5, 2225, 1332],
       [   0,    0,    0, ...,   63,    4,    3]], dtype=int32)

In [ ]:
y = df['class'].values

In [ ]:
y

array([0, 1, 1, ..., 1, 1, 0])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(text, y, test_size=0.2, random_state=1, stratify=y)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print('accuracy for random forest: ',accuracy_score(y_test, y_pred))

accuracy for random forest:  0.8493040145249142